* {
    padding: 0;
    margin: 0;
    font-family: sans;
}

body {
    padding: 5px;
    font-size: 14px;
}

#menu, #game {
    display: none;
}

#select-difficulty {
    list-style: square inside;
}

#select-difficulty li {
    float: left;
    margin-right: 15px;
}

#start-baby {
    color: #d47575;
}

#start-baby span:nth-child(2n) {
    color: #d47575;
}

#start-baby span:nth-child(2n+1) {
    color: #75add4;
}

#start-baby span:nth-child(3n) {
    font-weight: bold;
}

#start-baby span:nth-child(4n) {
    font-style: italic;
}

#start-easy {
    color: #00b200;
}

#start-normal {
    color: #e3c100;
}

#start-hard {
    color: orange;
}

#start-insane {
    color: red;
}

#restart {
    position: absolute;
    padding: 5px;
}

#bomb-counter {
    position: absolute;
    top: 25px;
    font-size: 24px;
    padding: 5px;
}

#field-container {
    position: absolute;
    left: 60px;
}

#well-done, #game-over {
    display: none;
    padding: 5px;
    position: absolute;
    left: 5px;
    top: 5px;
}

#well-done {
    background: lightgreen;
}

#game-over {
    background: pink;
}

#field {
    border-spacing: 0;
}

#field td {
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-color: #ccc #555 #555 #ccc;
    background: #aaa;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-family: monospace;
    cursor: pointer;
}

#field td:hover {
    border-color: #555 #ccc #ccc #555;
}

#field td.opened {
    background: lightgray;
    font-weight: bold;
    cursor: default;
    border-color: #ccc;
}

#field td.opened:hover {
    border: 1px solid #ccc;
}

#field td.around-1 {
    color: #086fa7;
}

#field td.around-2 {
    color: #08a74b;
}

#field td.around-3 {
    color: #08a79b;
}

#field td.around-4 {
    color: #4f08a7;
}

#field td.around-5 {
    color: #a408a7;
}

#field td.around-6 {
    color: #a70866;
}

#field td.around-7 {
    color: #a76608;
}

#field td.around-8 {
    color: #a70808;
}

#field td.flagged {
    background: no-repeat center center url(data:image/png;base64,%% img/flag.png base64 %%);
}

#field td.mined {
    background: no-repeat center center url(data:image/png;base64,%% img/bomb.png base64 %%);
}
